<div class="page-header">
  <h1>Guest Group #<%= @membership.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Guest</dt>
  <dd><%= @membership.guest_id %></dd>

  <dt>Group</dt>
  <dd><%= @membership.group_id %></dd>

</dl>
